<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/company_db</property>
        <property name="hibernate.connection.username">your_username</property>
        <property name="hibernate.connection.password">tour_password</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">false</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

        <mapping class="com.common.db.entity.Company"/>
        <mapping class="com.common.db.entity.TransactionInfo"/>

    </session-factory>
</hibernate-configuration>


<!--todo add mapped entities-->